.about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
   padding-top:1em;
}

.box a{
    text-decoration: none;
}
.container{
    padding-top:1em;
}

.btncontainer{
    display: flex;
    gap: 0.5rem;
}

.btn{
    color: chocolate;
    cursor:pointer;
}

.btn:hover{
    color: blue;
}